
.otsikkobox{
    float: left;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(30, 30, 30);
    border: 0;
    height: 10em;
}

.otsikko{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 20em;
    border: dotted 5px;
}

.teksti{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10em;
}

ul#ylavalikko{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
}

li#valikko{
    display: inline;
    padding-right: 1em;
}

.kirjaudu{
    float: right;
    margin-right: 3em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightcoral;
}

div#haku{
    margin-left: 10em;
}

.hakunappi{
    height: 6em;
    padding-top: 2em;
}

.hakubox{
    width: 20em;
    height: 2em;
    font-size: 2em;
}

.valikkobox{
    float: left;
    width: 8em;
}

.kirjautuminen{
    float: right;
}

.sapobox, .salabox{
    border: dotted 5px;
    width: 20em;
    margin-bottom: 0.5em;
}

.sapobox{
    margin-right: ;
}

.kirjaudu{
    height: 2em;
}

/* Navbar container */
.navbar {
    position: absolute;
    left: 0;
    overflow: hidden;
    background-color: rgb(30, 30, 30);
    font-family: Arial;
    width: 8em;
    height: 20em;
    float: left;
  }
  
  /* Links inside the navbar */
  .navbar a {
    display: block;
    float: left;
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    width: 8em;
    text-align: left;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }